<div class="field" [style.width.px]="squareSize" [style.height.px]="squareSize">
<!-- <div class="field" [style.width.px]="squareSize" [style.height.px]="squareSize" style="opacity: 0.2" [title]="'value: ' + value"> -->
  <!-- <div class="test" style="position: absolute; width: 30px; text-align: center">{{ value }}</div> -->
  <img [src]="imageFile"/>
  <!-- <div *ngIf="discovered">
    <span *ngIf="value !== 0">{{ value }}</span>
  </div> -->
  <!-- <span *ngIf="marked">!</span> -->
  <!-- <img *ngIf="marked" src="/assets/gfx/flag.png"/> -->
</div>
