<div class="container">
  <div class="score">
    <span class="active" (click)="onClickNewGame()">New Game</span>
    <div class="dropdown">
      <button class="dropbtn">Select Level
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <span *ngFor="let item of menuLevels()" (click)="onClickSelectLevel(item.id)">{{ item.id }}</span>
      </div>
    </div>
    <span>Mines = {{ score.mines }}</span>
    <span>Timer = {{ timer.count }}</span>
    <span>Level = {{ selectedLevel.name }}</span>
  </div>
  <div class="game">
    <div *ngIf="messageEnabled" class="message">
      {{ message }}
    </div>

    <div class="board" [ngStyle]="{'pointer-events': ['LOSE','WIN'].includes(gameState) ? 'none' : 'all'}">
      <app-board
        [level]="selectedLevel"
        (onGameStateChange)="updateGameState($event)"
        [newGame]="onNewGame"
      ></app-board>
    </div>
  </div>
</div>

