<div class="game">
  <div class="score">
    <span>Game state: {{ gameState }}</span>
    <span>Discovered: {{ score.discoveredPerc }}%</span>
    <span>Timer: {{ timer.count }}</span>
    <span (click)="onStartTimer()">Start Timer</span>
    <span (click)="onStopTimer()">Stop Timer</span>
  </div>

  <div class="board">
    <app-board [level]="selectedLevel" [finished]="finished" (onGameStateChange)="updateGameState($event)" (onDiscoverCell)="updateGameScore($event)"></app-board>
  </div>

</div>
