.game {
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  background-color: #483e48;

  .board {
    padding-right: 2rem;
  }

  .score {
    display: flex;
    flex-direction: column;
  }
}
