<div class="container">
  <app-loader *ngIf="!loaded" (onLoaded)="assetsLoaded($event)"></app-loader>
  <div *ngIf="loaded" class="game">
    <div class="topnav">
      <div class="topnav-mines">
        <div class="topnav-mines-top">
          MINES
        </div>
        <div class="topnav-mines-bottom">{{ score.mines }}</div>
        <!-- <span class="topnav-toggle-lvl" (click)="toggleMenuLevel()">Menu Levels</span> -->
        <!-- <span>{{ timer.count }}</span> -->
      </div>

      <div class="topnav-flagmode" (click)="toggleFlagMode()"><img [src]="assets.getAssetsByName('flag-lg')?.path" [style.width.rem]="3"></div>
      <div class="topnav-face" (click)="toggleMenuLevel()"><img [src]="face.currentFacePath" [style.width.rem]="3"></div>
      <div class="topnav-tablescore" (click)="toggleTableScore()"><img [src]="assets.getAssetsByName('tablescore')?.path" [style.width.rem]="3"></div>

      <div class="topnav-time">
        <div class="topnav-time-top">
          TIME
        </div>
        <div class="topnav-time-bottom">
          {{ timer.count }}
        </div>
      </div>
    </div>
      <div class="topnav-levels" [ngStyle]="{'visibility': displayMenu ? 'visible' : 'hidden'}">
        <span *ngFor="let item of menuLevels()" (click)="onClickSelectLevel(item.id)">{{ item.id }}</span>
      </div>
    <div *ngIf="messageEnabled" class="message">
      {{ message }}
      <span (click)="onClickNewGame()">Play again?</span>
    </div>

    <div class="board" [ngStyle]="{'pointer-events': ['LOSE','WIN'].includes(global.gameState) ? 'none' : 'all'}">
      <app-board
        [level]="selectedLevel"
        (onGameStateChange)="updateGameState($event)"
        [newGame]="onNewGame"
      ></app-board>
    </div>
  </div>

  <!-- <div class="blackened"></div> -->
</div>

