.container {
  position: absolute;
  width: 100%;
  height: 100%;

  .game {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    background-color: var(--primary-bgcolor);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .topnav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
      height: 25px;
      // width: 100%;
      font-family: PressStart;
      font-size: 18px;
      padding-bottom: 1rem;
      gap: 1.5rem;

      .topnav-mines, .topnav-time {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        cursor: default;
        user-select: none;

        .topnav-toggle-lvl:hover {
          color: yellow;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .topnav-face, .topnav-flagmode, .topnav-tablescore {
        cursor: pointer;
      }

      .topnav-mines, .topnav-time {
        color: var(--primary-hudcolor);
      }
    }

    .topnav-levels {
      display: flex;
      justify-content: space-between;
      // visibility: hidden;
      gap: 1rem;
      cursor: pointer;
      user-select: none;
    }

    .topnav-levels > *:hover {
      color: var(--primary-hudcolor);
    }

    .board {
      padding: 0.5rem;
      background-color: #50474e;
      // border-radius: 5px;
    }

    .debug {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .no-more-events, .board {
      // pointer-events: none;
      user-select: none;
    }
  }
}

.modal-end-message, .modal-level-menu {
  span {
    cursor: pointer;
  }

  span:hover {
    color: var(--primary-hudcolor);
  }
}
