body {
  background-color: #483e48;
  margin: auto;
  font-family: Monospace, "Courier New";
  color: white;
  overflow: hidden;
}

@font-face {
  font-family: 'Pixel';
  src: url('assets/Pixel.ttf');
}
