:root {
  --primary-bgcolor: #483e48;
  --primary-hudcolor: #f08080;
}

body {
  background-color: var(--primary-bgcolor);
  margin: auto;
  font-family: 'PressStart';
  color: white;
  overflow: hidden;
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  margin: unset;
  color: White;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: 'PressStart';
  src: url('assets/press_start_2p.ttf');
}
